.plasmid-count {
  background-color: green;
  color: white;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  border-radius: 40px/24px;
  width: 40px;
  border: none;
  cursor: pointer;
}
