<form [formGroup]="sequenceForm">
  <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="30px">

    <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
      <h2 style="width: 20%; margin-left: 5%">Enter Sequence</h2>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
      <div style="width: 20%; margin-left: 5%">Sequence Type</div>
      <div>
        <select formControlName="sequenceType">
          <option value="aa">Amino Acid</option>
          <option value="dna">DNA</option>
        </select>
      </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
      <div style="width: 20%; margin-left: 5%">Sequence</div>
      <textarea formControlName="sequence" placeholder=" Paste or type your sequence here."></textarea>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
      <button mat-button style="margin-left: 5%" (click)="sequenceForm.reset()">Cancel</button>
      <button mat-button style="margin-left: 5%" (click)="onSubmitSequence()" [disabled]="!sequenceForm.valid">Properties</button>
    </div>

  </div>
</form>



