header {
  width: 100%;
  height: 60px;
  background-color: #c3c3c3;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-weight: normal;
  margin: 0;
}

header button:first-child {
  margin-top: -5px;
}

header button:last-child {
  margin-top: -5px;
  margin-right: 40px;
}

.title-phrase {
  font-size: 1.2rem;
  font-weight: 400;
  padding-left: 20px;
  background-color: green;
  margin: 0 0 0 0;
  position: relative;
  left: 2.0rem;
  bottom: 0.2rem;
}

h1 button span {
  color: white;
}


