header {
  width: 100%;
  height: 60px;
  background-color: #c3c3c3;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-weight: normal;
  margin: 0;
}

header button:first-child {
  margin-top: -5px;
}

header button:last-child {
  margin-top: -5px;
  margin-right: 40px;
}

h1 span {
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 20px;
  position: relative;
  left: 3.0rem;
  bottom: 0.2rem;
}

.title-phrase {
  font-size: 0.8rem;
  font-weight: bold;
  background-color:  #b3b3b3;
  margin: 0 0 0 0;
  position: relative;
  left: 4.0rem;
  bottom: 0.2rem;
}


