<header fxLayout="row" fxLayoutAlign="start center">
  <div>
    <button mat-button (click)="onBackToSearch()">Back To Search</button>
    <button mat-button (click)="onBackToDetails()">Back To Details</button>
  </div>
</header>

<div style="width: 100%; margin-top: 30px;" fxLayout="row" fxLayoutAlign="space-evenly start">

  <div style="width: 30%; margin-left: 5%;" fxLayout="column" fxLayoutAlign="start start">
    <div>
      <h3>Target: {{ displayTargetName(targetName) }}</h3>
    </div>

    <form [formGroup]="subunitForm">
      <div fxLayout="column" fxLayoutAlign="start start" fxFlexAlign="start">
        <div *ngFor="let subunit of subunits" fxLayout="column" fxLayoutAlign="start start">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div style="width: 35%; margin-right: 0;">
              <input type="number" style="width: 45%;" [formControlName]="subunit.subunit_name" class="formControl">
            </div>
            <div style="width: 50%; text-align: left; margin-left: 0; font-size: 10pt; font-weight: bold;">
              {{ displaySubunitName(subunit.subunit_name) }}
            </div>
          </div>
          <div *ngIf="subunitForm['controls'][subunit.subunit_name].errors?.min" class="errorMessage">
            Must be 0 or greater.
          </div>
          <div *ngIf="subunitForm['controls'][subunit.subunit_name].errors?.max" class="errorMessage">
            Range is 1 - {{ subunitForm['controls'][subunit.subunit_name].errors?.max.max }}.
          </div>
          <div *ngIf="subunitForm.errors?.notAllZero" class="errorMessage">
            Total copies cannot be 0.
          </div>
        </div>
      </div>
    </form>

    <div>
      <button mat-button (click)="onRestore()">Restore</button>
      <button mat-button (click)="onUpdate()" [disabled]="!subunitForm.valid">Update</button>
    </div>
  </div>

  <div style="width: 65%; margin-top: 20px; margin-right: 5%">
    <ag-grid-angular
      #targetPropertyGrid
      style="width: 100%;"
      class="ag-theme-balham"
      [rowData]="propertyListGridData$ | async"
      [domLayout]="domLayout"
      [columnDefs]="propertyColumnDefs"
      [modules]="modules"
    >
    </ag-grid-angular>
  </div>

</div>
